<div class="relative">
  <div class="m-1 flex justify-center items-center rounded-md border-2"
       style="opacity:{{1 - (unloadingProgress / 100)}}"
       [ngClass]="{
          'small': small,
          'h-8': !small,
          'w-8': (cargo.size === 1) && !small,
          'w-18': (cargo.size === 2) && !small,
          'w-38': (cargo.size === 4) && !small,
          'h-6': small,
          'w-6': (cargo.size === 1) && small,
          'w-12': (cargo.size === 2) && small,
          'w-24': (cargo.size === 4) && small,
          'border-rose-600' : (cargo.type === 'Medicine'),
          'bg-rose-950' : (cargo.type === 'Medicine'),
          'text-rose-600' : (cargo.type === 'Medicine'),
          'border-yellow-700' : (cargo.type === 'Food'),
          'bg-yellow-950' : (cargo.type === 'Food'),
          'text-yellow-700' : (cargo.type === 'Food'),
          'border-emerald-500' : (cargo.type === 'Plants'),
          'bg-emerald-950' : (cargo.type === 'Plants'),
          'text-emerald-500' : (cargo.type === 'Plants'),
          'border-cyan-600' : (cargo.type === 'Tools'),
          'bg-cyan-950' : (cargo.type === 'Tools'),
          'text-cyan-600' : (cargo.type === 'Tools'),
          'strike-through' : cargo.broken
     }">
    @if (cargo.type === 'Medicine') {
      <mat-icon>medication</mat-icon>
    } @else if (cargo.type === 'Food') {
      <mat-icon>lunch_dining</mat-icon>
    } @else if (cargo.type === 'Plants') {
      <mat-icon>eco</mat-icon>
    } @else if (cargo.type === 'Tools') {
      <mat-icon>construction</mat-icon>
    } @else {
      <mat-icon>question_mark</mat-icon>
    }
  </div>
</div>
