<div class="flex flex-row">
  <div class="m-8 w-144">
    <h2>Dock</h2>
    @for (ship of ships; track ship.id; let  i = $index) {
      <app-ship
        [ship]="ship"
        (unload)="unload($event, i)"
        [unloadEmitter]="unloadEmitter"
        [stopUnloadingEmitter]="stopUnloadingEmitter"
      ></app-ship>
    }
  </div>
  <div>
    <app-conveyor-belt></app-conveyor-belt>
  </div>
  <div class="grow">
    <app-incoming-protocols></app-incoming-protocols>
    <app-tasks></app-tasks>
  </div>
</div>
