<div class="m-8">
  <h2>Conveyor Belt</h2>
  <div class="flex flex-row">

    <div class="flex flex-col mr-8">
      <div class="h-100 mb-8 content-center">
        <div class="arrow flex items-center justify-center">
          <mat-slide-toggle [ngModel]="connect[0]" (ngModelChange)="toggled(0)"><span
            class="pl-2 font-bold">Connect</span></mat-slide-toggle>
        </div>
      </div>
      <div class="h-100 mb-8 content-center">
        <div class="arrow flex items-center justify-center">
          <mat-slide-toggle [ngModel]="connect[1]" (ngModelChange)="toggled(1)"><span class="pl-2 font-bold">Connect</span></mat-slide-toggle>
        </div>
      </div>
      <div class="h-100 mb-8 content-center">
        <div class="arrow flex items-center justify-center">
          <mat-slide-toggle [ngModel]="connect[2]" (ngModelChange)="toggled(2)"><span class="pl-2 font-bold">Connect</span></mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="flex flex-col mt-16 ml-16">
      <div class="w-full mb-4">
        <button mat-stroked-button class="w-full" (click)="restart()" [disabled]="!isBeltClosed">Restart</button>
      </div>
      <div class="w-full mb-4">
        <button mat-stroked-button class="w-full" (click)="close()" [disabled]="isBeltClosed">Close</button>
      </div>
      <div
        class="flex flex-row content-start flex-wrap w-44 p-1 bg-stone-900 border-stone-600 rounded-1xl border-4 h-232"
        [ngClass]="{'belt-diabled': isBeltClosed}">
        @for (cargo of storedCargo; track cargo.id) {
          <app-cargo class="belt-cargo" [cargo]="cargo"></app-cargo>
        }
      </div>
    </div>

  </div>
</div>
