<div class="flex flex-col">
  @for (cargo of cargo; track cargo.id) {
    <div class="line flex flex-row pl-4 my-1 bg-slate-800 text-xs">
      <div class="flex justify-end w-28 pr-4">
        <app-cargo [cargo]="cargo" [small]="true"></app-cargo>
      </div>
      <div class="flex items-center">
        {{ cargo.size }} {{ cargo.type }} {{ cargo.broken ? '(broken)' : '' }}
      </div>
    </div>
  }

  @if (error) {
    <div class="line flex pl-32 my-1 py-2 bg-slate-800 text-red-500 text-xs">!!! ERROR !!!</div>
  } @else if (completed) {
    <div class="line flex pl-32 my-1 py-2 bg-slate-800 text-emerald-400 text-xs">+++ END OF PROTOCOL +++</div>
  } @else {
    <div class="line flex pl-32 my-1 py-2 bg-slate-800 text-xs">{{ dots }}</div>
  }
</div>
