<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened>
    <app-menu
      [(pageToShow)]="pageToShow"
      (unloadAllShips)="unloadAllShips()"
      (stopUnloading)="stopUnloading()">
    </app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (pageToShow === 'ship-dock') {
      <app-ship-dock
        [unloadEmitter]="unloadEmitter"
        [stopUnloadingEmitter]="stopUnloadingEmitter">
      </app-ship-dock>
    } @else if (pageToShow === 'help-page') {
      <app-help-page></app-help-page>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
