<div class="m-8">
  <h2>Protocols</h2>

  <mat-accordion [multi]="true" displayMode="flat">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>All Incoming Cargo</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo.</p>
        <mat-icon matTooltip="This protocol is already correct"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$allIncomingCargo"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>All Pristine Cargo</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, that is not broken.</p>
        <mat-icon matTooltip="Use filter(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$allPristineCargo"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>First Five Cargo</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list the first 5 incoming cargo. Protocol must complete afterwards.</p>
        <mat-icon matTooltip="Use take(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$firstFiveCargo"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Only New Cargo</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo whose type was not seen before.</p>
        <mat-icon matTooltip="Use distinct(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$onlyNewCargo"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Everything Like New</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but all incoming broken cargo looks repaired.</p>
        <mat-icon matTooltip="Use map(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$everythingLikeNew"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Three Meds and Foods</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of the first three medicine and the first three food. But please fix them, if they are broken.</p>
        <mat-icon matTooltip="Use everything you have learned so far in combination. :)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$threeMedsAndFoods"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>The First of each Type in Line</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but if multiple cargo of the same type are trickling in a row, just note the first one in the list.</p>
        <mat-icon matTooltip="Use distinctUntilChanged(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$firstOfEachType"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ignore the First Three</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but we don't want to have the first 3 incoming cargo..</p>
        <mat-icon matTooltip="Use skip(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$ignoreFirstThree"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>The Last Two</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of the last two.</p>
        <mat-icon matTooltip="Use takeLast(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$lastTwo"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ignore the Last Three</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but please don't include the last three</p>
        <mat-icon matTooltip="Use skipLast(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$ignoreLastThree"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>The First 10 Tons</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but include only as much cargo until you have at most 10 size filled.</p>
        <mat-icon matTooltip="Use scan(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$firstTenTons"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Maximum Three Broken</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but only include 3 broken cargo.</p>
        <mat-icon matTooltip="Use merge(...) etc. This is experimental :)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$maximumThreeBroken"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Cheating on Food Protocol</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but anytime a non broken food is delivered, write down 2 more foods of size 1.</p>
        <mat-icon matTooltip="Use repeat(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$cheatOnFood"
      ></app-cargo-protocol>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Small Crates</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-between">
        <p>A list of all incoming cargo, but split all cargo that's bigger than 1 into smaller crates of size 1.</p>
        <mat-icon matTooltip="Use switchMap(...)"
                  matTooltipPosition="left">help
        </mat-icon>
      </div>
      <app-cargo-protocol
        [entries]="$smallCrates"
      ></app-cargo-protocol>
    </mat-expansion-panel>

  </mat-accordion>

</div>
