@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

//$theme: mat.define-theme((
//  color: (
//    theme-type: dark,
//    primary: mat.$violet-palette,
//  ),
//  typography: (
//    brand-family: 'Comic Sans',
//    bold-weight: 900
//  ),
//  density: (
//    scale: -1
//  )
//));

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--mdc-text-button-label-text-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-container {
  background-image: linear-gradient(-45deg, #0c0e0e, #2b3838, #101414);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.mat-drawer {
  background: none !important;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
