.ship-card {
  background-color: rgba(0, 0, 0, 0.1);
}

.ship-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.gfx {
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) translateX(0px) translateY(0px); }
  10% { transform: translateX(1px); }
  20% { transform: translateY(1px); }
  25% { transform: scale(1.02); }
  30% { transform: rotate(-1deg); }
  40% { transform: rotate(1deg); }
  60% { transform: translateX(-1px); }
  75% { transform: scale(0.98); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(2deg) translateY(-1px); }
  95% { transform: rotate(-2deg) translateX(0px); }
  100% { transform: rotate(0deg) translateY(0px) scale(1); }
}

.mdc-linear-progress__bar {
  animation: none !important;
}
